html,body    {height: 100%; margin:0
    
}
header  {
    height:50px;
}
body  {
    display: table;
    width: 100%;
}
h3  { font-family: cursive; font-size: 30px; font-style: normal;
     font-weight: bold; text-align: left; line-height: 50px;

}
.footer  {
    background-color: black; display: table-row; 
    padding: 0px; width: 100%; border: 5px solid black;
    margin-top: auto;
     
}
p   {
    color: #ffffff;
}
img {
    float: left;
}
/* .contain  {
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
} */